@media(max-width: 1000px)
{
    .jmeno {
        margin-top: 0rem;
        margin-left: 0em;
        
    }
    .nadpis{
       letter-spacing: 0em; 
    }
    .vl{
        border: none;
    }

    .navbar-brand {
        background-color: #DEC6B6;
        position: static;
        z-index: none;
        color: black !important;
  
        
    }
    
    .profilova-fotka {
        border: none;
        border-bottom: solid 0.3rem #5C2626;
        border-radius: 4rem;
        width: 100%;
        position: relative;
        right: 0;
        
        
    }
    .navbar{
        position: relative !important;
        
    }
    .container-fluid {
        width: 100%;
    }

/* dovednosti */


.it{
    color: white;
    text-align: center;
    font-size: 5rem;
    
}

.jazyky{
    padding-bottom: 3rem;
}
.jine {
    padding-bottom: 0.4rem;
}


.html-logo,.css-logo,.bootstrap-logo,.word-logo,.excel-logo,.powerpoint-logo{
    width: 12%;
}

.dog, .auto{
    width: 13%;
    font-size: 3rem;
}

.cop{
    font-size: 1rem;
}
}