/* pismo */
.nadpis{
    position: relative;
    z-index: 1;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.5rem;
}

.vzdelani-nadpis{
    text-align: center;
    color: white;
    padding-top: 3rem;
    text-decoration: underline #DEC6B6 0.3rem;
    text-underline-position: under;
    font-family: 'Nunito', sans-serif;
}
.skola-nadpis{
    font-family: 'Nunito', sans-serif;
}
.tabulka-skola-nadpis{
    font-family: "ubuntu";
}

.zamestnani-nadpis{
    text-align: center;
    color: black;
    padding-top: 3rem;
    text-decoration: underline #5C2626 0.3rem;
    text-underline-position: under;
    font-family: 'Nunito', sans-serif;
}
.prace-nadpis{
    font-family: 'Nunito', sans-serif;
    color: white;
}
.tabulka-zamestnani-nadpis{
    font-family: "ubuntu";
    color: white !important;
}

.dovednosti-nadpis{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: white;
    text-decoration: underline #DEC6B6 0.3rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.kontakt-nadpis{
    text-decoration: underline #5C2626 0.3rem !important;
    font-family: 'Nunito', sans-serif ;
    text-decoration: underline;
    margin-bottom: 1rem;
    padding-top: 3rem;
}

p{
    font-family: "ubuntu";
    font-size: 1.2rem;
}




/* navbar */

html {
    scroll-behavior: smooth !important;

}  

.navbar {
    background-color: #DEC6B6;
     
}
.navbar-brand {
    
    position: relative;
    z-index: 2;
    color: white !important;
}

.nav-link{
    font-size: 1.2rem;
}

.vl {
    border-left: 7rem solid #5C2626;
    height: 456%;
    position:absolute;
    z-index: 1;
    margin-top: 12rem;
    margin-left: 0.5%;
    display: inline-flexbox;
  }

/* uvod */
#uvod{
    background-color: #DEC6B6;
    color: white;
    padding-bottom: 17%;
    

}


.profilova-fotka{
    width: 80%;
    border-radius: 100%;
    position: absolute;
    border: solid 1rem #5C2626;
    right: 25%;
    display: inline-flexbox;
    
 
}

.jmeno{
    
     background-color: #5C2626;
    text-align: center;
    padding: 2rem;
    margin-top: 11rem;
    margin-left: 4.4rem;
    display: inline-flexbox;
    
    
    
}


/* vzdelani */
#vzdelani{
    background-color: #5C2626;
    text-align: center;
    padding-bottom: 2rem;
}
.cepicka{
    text-decoration: none;
    margin-right: 0.4rem;
}

.secr, .vso{
    background-color: #DEC6B6 !important;
    text-align: center;
    margin: 3rem;
    height: 20rem;
    border-radius: 4% !important;
    
}
.vso-logo{
    width: 40%;
    
}
.secr-logo{
    width: 40%;
}
  /* pracovni zkusenosti */
 

  #zamestnani{
    background-color: #DEC6B6;
    text-align: center;
    padding-bottom: 2rem;
}

.kufrik{
    text-decoration: none;
    margin-right: 0.4rem;
}

.prace{
    background-color:#5C2626 !important;
    text-align: center;
    margin: 3rem;
    height: 73%;
    
    border-radius: 4% !important;
    
}
.dm-logo{
    width: 25%;
    
}

.uol-logo{
    width: 30%;

}
.npu-logo{
    width: 55%;

}
/* Dovednosti */
.bottom-container {
    margin-top: 1rem;
}
#dovednosti{
    background-color:#5C2626;   
    
}
.pandulak{
    margin-right: 0.5rem;
}

.vycet{
    text-align: center;
    color: white;
}

.it{
    color: white;
    text-align: center;
    
}
.kolonka{
    text-align: right;
    padding-bottom: 1.7rem;
}
.office{
    text-align: left;
}
.jazyky{
    padding-bottom: 5.7rem;
}
.jine {
    padding-bottom: 1rem;
}


.html-logo,.css-logo,.bootstrap-logo,.word-logo,.excel-logo,.powerpoint-logo, .js-logo{
    width: 10%;
}
.francouzstina{
    padding-top: 7rem !important;
}
.dog{
    width: 10%;
}

.auto{
    width: 10%;
}
/* Kontakt */
#kontakt{
    margin-bottom: 0%;
    text-align: center;
    background-color: #DEC6B6;
}
.butonek {
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    background: #5C2626;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  
  .butonek:hover {
    background: #DEC6B6;
    background-image: -webkit-linear-gradient(top, #DEC6B6, #5C2626);
    background-image: -moz-linear-gradient(top, #DEC6B6, #5C2626);
    background-image: -ms-linear-gradient(top, #DEC6B6, #5C2626);
    background-image: -o-linear-gradient(top, #DEC6B6, #5C2626);
    background-image: linear-gradient(to bottom, #DEC6B6, #5C2626);
    color: black;
    text-decoration: none;
  }
  .footer-link{
      color: black;
      padding-left: 0.5rem;
      
  }
  .kontaktni-karta {
      margin-right: 0.5rem !important;
  }
  .cop{
      margin-bottom: 0rem;
      padding-bottom: 1rem;
  }

